* {
    box-sizing: border-box;
}

body{
    background-color:#ffc0cb;
    line-height: 1.6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 16px;
}

.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.brand{
    text-align: center;
    text-transform: uppercase;
}

h2{
    text-align: center;
}

.wrapper > * {
    padding: 16px;
}